GO
CREATE TABLE [dbo].[tb_especialidade_codigo_atuacao](
	[especialidade] [nvarchar](255) NULL,
	[codigo] [float] NULL,
	[fk_tabela_tiss] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[tb_especialidade_codigo_atuacao] ([especialidade], [codigo], [fk_tabela_tiss]) VALUES (N'Alergologia  Pediátrica', 3, 231681)
INSERT [dbo].[tb_especialidade_codigo_atuacao] ([especialidade], [codigo], [fk_tabela_tiss]) VALUES (N'Cardiologia Pediátrica', 7, 231682)
INSERT [dbo].[tb_especialidade_codigo_atuacao] ([especialidade], [codigo], [fk_tabela_tiss]) VALUES (N'Cirurgião dentista - clínico geral', 73, 109700)

GO

INSERT INTO tb_de_para_especialidade_codigo_atuacao (sql_update,
                                                     data_ultima_alteracao,
													 registro_ativo,
													 codigo,
													 descricao,
													 fk_usuario_ultima_alteracao,
													 fk_convenio,
													 fk_tabela_tiss)
					       					  SELECT '#0719-000337' AS sql_update,
											         GETDATE() AS data_ultima_alteracao,
													 1 AS registro_ativo,
													 codigo,
													 especialidade AS descricao,
													 1 AS fk_usuario_ultima_alteracao,
													 270 AS fk_convenio,
													 fk_tabela_tiss
											  FROM tb_especialidade_codigo_atuacao

GO

DROP TABLE [dbo].[tb_especialidade_codigo_atuacao]
