update tb_tabela_tiss set fk_tipo_tabela_tiss=6,fk_relacao_tuss=6
 where discriminator = 'especialidade' and fk_tipo_tabela_tiss is null 

GO

update tb_despesa  set registro_ativo=0,sql_update=isnull(sql_update,'')+'#0719-000402'
where fk_entidade_convenio in(select id from rl_entidade_convenio where fk_entidade=25 and registro_ativo=1)
and discriminator='EntidadeConvenioEspecialidade' and fk_item_despesa in(
select id from tb_item_despesa where codigo in('10101012',
'10101039'))
and fk_entidade_convenio in(
select entidadeConvenio.id  from tb_convenio convenio
inner join  rl_entidade_convenio entidadeConvenio on(entidadeConvenio.fk_convenio=convenio.id and entidadeConvenio.registro_ativo=1) 
where entidadeConvenio.fk_entidade=25 and entidadeConvenio.registro_ativo=1 and entidadeConvenio.ativo=1
and convenio.sigla
in(
'4COMANDOMILITAR',
'ABERTTASAUDE',
'AGF ALLIANZ',
'AMILINTERNACION',
'BH - TRANS',
'CAPESESP',
'CEMIGSAUDE', 
'CENIBRA', 
'CNEN', 
'COPASSSAUDE', 
'CVRD54', 
'FIATSAUDE',  
'FSFX', 
'FUNCEF', 
'FUNDLIBERTAS', 
'FUNDSAUDEITAU', 
'GAMA SAÚDE', 
'GEAP', 
'GOLDEN', 
'LIFE SAUDE', 
'MEDISANITAS', 
'MEDISERVICE', 
'NOTREDAMEINTER', 
'PETROBRAS', 
'POSTALSAUDE', 
'PROASA', 
'PROMED', 
'S.BRADESCO', 
'SAÚDE', 
'SUL AMÉRICA 56' )) and registro_ativo=1

GO

CREATE TABLE [dbo].[tb_0719_000402](
	[Convênio ] [nvarchar](255) NULL,
	[Complemento] [nvarchar](255) NULL,
	[Hospital] [nvarchar](255) NULL,
	[Especialidade (ANS)] [nvarchar](255) NULL,
	[Tipo Despesa] [nvarchar](255) NULL,
	[Codigo procedimento] [float] NULL,
	[Descrição procedimento] [nvarchar](255) NULL,
	[CH/MOEDA] [nvarchar](255) NULL,
	[CH] [nvarchar](255) NULL,
	[Valor Honorário] [float] NULL,
	[Valor UCO] [nvarchar](255) NULL,
	[Acrescimo tabela] [nvarchar](255) NULL,
	[Vigencia Inicio] [datetime] NULL,
	[Vigencia Fim] [nvarchar](255) NULL,
	[Desconsiderar Urgencia] [nvarchar](255) NULL,
	[Desconsiderar Enfermaria] [nvarchar](255) NULL,
	[Desconsiderar Apartamento] [nvarchar](255) NULL,
	[Desconsiderar Externo] [nvarchar](255) NULL,
	[Desconsiderar UTI/CTI] [nvarchar](255) NULL,
	[fk_item_despesa] [bigint] NULL
) ON [PRIMARY]
GO

GO

INSERT INTO [dbo].[tb_despesa]
           ([discriminator] --1
           ,[data_ultima_alteracao] --2
           ,[registro_ativo] -- 3
           ,[numero_auxiliares] --4
           ,[valor_honorario] --5
           ,[data_inicio_vigencia] --6
           ,[ch_moeda] --7
           ,[valor_acrescimo_tabela] --8
           ,[fk_usuario_ultima_alteracao] --9
           ,[fk_item_despesa] --10
           ,[fk_entidade_convenio] --11
           ,[fk_complemento] --12
           ,[fk_especialidade]--13
           ,[fk_entidade_hospital] --14
           ,[codigo_item_despesa_temp] --15
           ,[descricao_item_despesa_temp] --16
           ,[sql_update] --17
           ,[discriminator_fk_especialidade] --18
		   ) select 'EntidadeConvenioEspecialidade' as discriminator, --1
		             getdate() as data_ultima_alteracao, --2
					 1 as registro_ativo, --3
					 0 as numero_auxiliares, --4
		            (COALESCE((CONVERT(NUMERIC(19,2),[Valor Honorário])),0)) as valor_honorario, --5
				       [Vigencia Inicio] as data_inicio_vigencia, --6
					   [CH/MOEDA] as ch_moeda, --7
					   COALESCE(CONVERT(NUMERIC(19,2),[Acrescimo tabela]),0) as valor_acrescimo_tabela,	--8
					   12 as fk_usuario_ultima_alteracao, --9
					   fk_item_despesa as fk_item_despesa,--10
					   [Convênio ] as fk_entidade_convenio, --11
					   Complemento as fk_complemento, --12
					   [Especialidade (ANS)] as fk_especialidade, --13
					   Hospital as fk_entidade_hospital, --14	
					   [Codigo procedimento] as codigo_item_despesa_temp, --15
					   [Descrição procedimento] as descricao_item_despesa_temp, --16				  
					   '#0719-000402' as sql_update, --17
					   'especialidade' as discriminator_fk_especialidade --18
			 from tb_0719_000402
GO

DROP TABLE tb_0719_000402
