USE [sasc_producao_desenv]
GO
/****** Object:  Table [dbo].[tb_0719_000402]    Script Date: 17/07/2019 12:29:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_0719_000402](
	[Convênio ] [nvarchar](255) NULL,
	[Complemento] [nvarchar](255) NULL,
	[Hospital] [nvarchar](255) NULL,
	[Especialidade (ANS)] [nvarchar](255) NULL,
	[Tipo Despesa] [nvarchar](255) NULL,
	[Codigo procedimento] [float] NULL,
	[Descrição procedimento] [nvarchar](255) NULL,
	[CH/MOEDA] [nvarchar](255) NULL,
	[CH] [nvarchar](255) NULL,
	[Valor Honorário] [float] NULL,
	[Valor UCO] [nvarchar](255) NULL,
	[Acrescimo tabela] [nvarchar](255) NULL,
	[Vigencia Inicio] [datetime] NULL,
	[Vigencia Fim] [nvarchar](255) NULL,
	[Desconsiderar Urgencia] [nvarchar](255) NULL,
	[Desconsiderar Enfermaria] [nvarchar](255) NULL,
	[Desconsiderar Apartamento] [nvarchar](255) NULL,
	[Desconsiderar Externo] [nvarchar](255) NULL,
	[Desconsiderar UTI/CTI] [nvarchar](255) NULL,
	[fk_item_despesa] [bigint] NULL
) ON [PRIMARY]
GO
