select count(*) as 'QtdMensagens' from tbMensagemInterna (nolock) where Lido = 'F' and CodigoUsuarioDestino = 'WBHDP34'
go
EXECUTE spPLocal @CodigoEmpresa = 2620,@CodigoLocal = 0
go
select count(*) as 'QtdMensagens' from tbMensagemInterna (nolock) where Lido = 'F' and CodigoUsuarioDestino = 'WBHDP34'
go
select count(*) as 'QtdMensagens' from tbMensagemInterna (nolock) where Lido = 'F' and CodigoUsuarioDestino = 'WBHDP34'
go
select count(*) as 'QtdMensagens' from tbMensagemInterna (nolock) where Lido = 'F' and CodigoUsuarioDestino = 'WBHDP34'
go
EXECUTE spPCliFor @CodigoEmpresa = 2620,@CodigoCliFor = 33931486001021
go
EXECUTE spPCliForJuridica @CodigoCliFor = 33931486001021,@CodigoEmpresa = 2620
go
EXECUTE spLClienteJuridicaCredito @CodigoEmpresa = 2620,@CodigoCliFor = 33931486001021
go
EXECUTE spPTomadorServico @CodigoEmpresa = 2620,@CodigoLocal = 0,@CodigoCliFor = 33931486001021
go
EXECUTE spPCentroCusto @CodigoEmpresa = 2620,@CentroCusto = 21410
go
select count(*) as 'QtdMensagens' from tbMensagemInterna (nolock) where Lido = 'F' and CodigoUsuarioDestino = 'WBHDP34'
go
select count(*) as 'QtdMensagens' from tbMensagemInterna (nolock) where Lido = 'F' and CodigoUsuarioDestino = 'WBHDP34'
go
execute whPLotacaoTributaria @CodigoEmpresa = 2620,@CodigoLotacao = 4
go
select count(*) as 'QtdMensagens' from tbMensagemInterna (nolock) where Lido = 'F' and CodigoUsuarioDestino = 'WBHDP34'
go
select count(*) as 'QtdMensagens' from tbMensagemInterna (nolock) where Lido = 'F' and CodigoUsuarioDestino = 'WBHDP34'
go
select count(*) as 'QtdMensagens' from tbMensagemInterna (nolock) where Lido = 'F' and CodigoUsuarioDestino = 'WBHDP34'
go
select count(*) as 'QtdMensagens' from tbMensagemInterna (nolock) where Lido = 'F' and CodigoUsuarioDestino = 'WBHDP34'
go
EXECUTE spPCliFor @CodigoEmpresa = 2620,@CodigoCliFor = 33931486001021
go
EXECUTE spPCliForJuridica @CodigoCliFor = 33931486001021,@CodigoEmpresa = 2620
go
EXECUTE spLClienteJuridicaCredito @CodigoEmpresa = 2620,@CodigoCliFor = 33931486001021
go
EXECUTE spPTomadorServico @CodigoEmpresa = 2620,@CodigoLocal = 0,@CodigoCliFor = 33931486001021
go
select count(*) as 'QtdMensagens' from tbMensagemInterna (nolock) where Lido = 'F' and CodigoUsuarioDestino = 'WBHDP34'
go
select count(*) as 'QtdMensagens' from tbMensagemInterna (nolock) where Lido = 'F' and CodigoUsuarioDestino = 'WBHDP34'
go
select count(*) as 'QtdMensagens' from tbMensagemInterna (nolock) where Lido = 'F' and CodigoUsuarioDestino = 'WBHDP34'
go
EXECUTE spPTomadorServico @CodigoEmpresa = 2620,@CodigoLocal = 0,@CodigoCliFor = 33931486001021
go
EXECUTE spITomadorServico @CodigoEmpresa = 2620,@CodigoLocal = 0,@CodigoCliFor = 33931486001021,@CentroCusto = 21410,@TipoInscricaoTomador = 1,@CodigoRecolhimentoFGTS = 150,@CodigoPagtoGPS = 2100,@ValorCompTomador = 0,@ValorRetencaoTomador = 0,@DataIniValidade = '2018-08-01 00:00',@DataFimValidade = Null,@TipoLotacao = 4,@TipoInscricaoESocial = 1,@NumeroInscricaoESocial = 33931486001021,@CodigoMunicipioESocial = 0,@CodigoFpasESocial = 515,@CodigoTerceirosESocial = 115,@TipoInscricaoContratante = 1,@NumeroInscricaoContratante = 33931486001021,@TipoInscricaoProprietario = 1,@NumeroInscricaoProprietario = 33931486001021,@CodigoTerceirosSuspESocial = 0,@TipoProcessoSindicalESocial = Null,@NumeroProcessoSindicalESocial = Null
go
select * from tbMensagens where CodigoIdioma = 55 and NumeroMensagem = 8114
go
select count(*) as 'QtdMensagens' from tbMensagemInterna (nolock) where Lido = 'F' and CodigoUsuarioDestino = 'WBHDP34'
go
select count(*) as 'QtdMensagens' from tbMensagemInterna (nolock) where Lido = 'F' and CodigoUsuarioDestino = 'WBHDP34'
go
select count(*) as 'QtdMensagens' from tbMensagemInterna (nolock) where Lido = 'F' and CodigoUsuarioDestino = 'WBHDP34'
go
select count(*) as 'QtdMensagens' from tbMensagemInterna (nolock) where Lido = 'F' and CodigoUsuarioDestino = 'WBHDP34'
go
select count(*) as 'QtdMensagens' from tbMensagemInterna (nolock) where Lido = 'F' and CodigoUsuarioDestino = 'WBHDP34'
go
